.albumName{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: black;
}
.lyricBlock{
    font-family: "Montserrat", sans-serif;
    list-style-type: circle;
    font-size: 18px;
    color: black;
}
.link {
    color: black;
  }
.link:hover {
    color: #b3b3b3;
}