.fa-heart {
  color: #a94442;
  font-size: 18px;
  position: relative;
}

.bg-black {
  background: #1c1c1c;
}

.navbar {
  min-height: 70px;
  margin-bottom:70px;
}

.brandLink {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  min-width: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: solid 1px white;
  transition: all, ease-in-out;
  -webkit-transition: all, ease-in-out;
}

.brandLink:hover {
  color: #1c1c1c;
  text-decoration: none;
  background: white;
}
.brandlink:active {
  color: white;
}

.normalLink {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  min-width: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: solid 1px white;
  transition: all, ease-in-out;
  -webkit-transition: all, ease-in-out;
}

.normalLink:hover {
  color: white;
  text-decoration: none;
  background: white;
}

.logoutBtnNavBar {
  background: Transparent;
  background-repeat: no-repeat;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  min-width: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: solid 1px white;
  transition: all, ease-in-out;
  -webkit-transition: all, ease-in-out;
}

.logoutBtnNavBar:hover {
  color: black;
  text-decoration: none;
  background: white;
}

.userName {
  color: white;
  font-family: "Montserrat", sans-serif;
  float: left;
  /* padding: 0.2rem 1rem; */
  font-size: 1rem;
  margin-right: 10px;
  padding-top: 15px;
}

/* .searchBtnNavBar {
  background: Transparent;
  background-repeat: no-repeat;
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  min-width: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: solid 1px blue;
  transition: all, ease-in-out;
  -webkit-transition: all, ease-in-out;
}

.logoutBtnNavBar:hover {
  color: white;
  text-decoration: none;
  background: blue;
} */