.banner {
  width: 100%;
}
.bgimage {
  width: 100%;
  background-image: url("../Images/bg.jpeg") no-repeat;
}

.centeredtext {
  font-size: 50px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
