.g-orange {
  background: rgb(247, 191, 93);
  background: -moz-linear-gradient(
    90deg,
    rgba(247, 191, 93, 1) 0%,
    rgba(243, 80, 39, 1) 47%,
    rgba(243, 80, 39, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(247, 191, 93, 1) 0%,
    rgba(243, 80, 39, 1) 47%,
    rgba(243, 80, 39, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 191, 93, 1) 0%,
    rgba(243, 80, 39, 1) 47%,
    rgba(243, 80, 39, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7bf5d",endColorstr="#f35027",GradientType=1);
}

.jumbotron {
  margin: 0 !important;
  padding: 0 !important;
}

.full-width {
  height: 100vh;
  max-height: 100vh;

  border-radius: 0;
}

a.bg-link {
  color: #ffffff66;
  font-weight: 700;
  font-size: 72px;
  line-height: 0.4;
}

a.bg-link :hover {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.p-none {
  padding: 0 !important;
}

.jumbotron.g-orange .container-fluid {
  overflow: hidden;
  height: 100vh;
}
.container-fluid{
  margin-top:-60px;
}
